html {
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

